/* ===== MOBILE RESPONSIVE (MAX 768px) ===== */
@media (max-width: 768px) {

  /* HEADER / NAV */
  .header {
    height: auto;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    gap: 2.5rem;
    padding-top: 40px;
    transition: left 0.4s ease;
    z-index: 999;
  }

  nav.active {
    left: 0;
  }

  nav li {
    text-align: left;
    padding-left: 30px;
  }

  .Hamburger {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    cursor: pointer;
  }

  .Hamburger i {
    color: #fff;
    font-size: 1.5rem;
  }

  /* HOME SECTION */
  .Home {
    flex-direction: column;
    gap: 65px;
    text-align: center;
    justify-content: center;
    padding: 40px 20px 40px;
  }

  .text-container {
    width: 100%;
    padding-left: 0;
  }

  .intro h2 {
    font-size: 1.3rem;
  }

  #name {
    font-size: 2rem;
  }

  .Icons {
    justify-content: center;
    gap: 2rem;
  }

  .img-container {
    width: 100%;
    margin-bottom: 30px;
  }

  .Img-div-container {
    max-width: 260px;
  }

  /* ABOUT SECTION */
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }

  .img-container2 {
    /* width: 70% !important; */
    display: none;
  }

  .text-container2 {
    padding: 0 20px;
  }

  .pera {
    font-size: 1rem;
  }

  /* SKILLS SECTION */
  .skills-container {
    flex-direction: column;
    gap: 3rem;
    padding: 0 20px;
  }

  .technical-skills,
  .professional-skills {
    width: 100%;
  }

  .circle-container {
    grid-template-columns: 1fr;
  }

  /* PROJECTS */
  .card-container {
    width: 100%;
    padding: 0 20px;
  }

  .project-card {
    width: 100%;
    height: auto;
  }

  /* CONTACT */
  .contact input,
  textarea {
    width: 90%;
  }

  /* HEADINGS */
  .h2 {
    font-size: 2rem;
  }
}
